alabaster==0.7.12
alembic==1.6.5
appdirs==1.4.4
argh==0.26.2
arrow==0.13.1
async-generator==1.10
atomicwrites==1.4.0
bkcharts==0.2
black==19.10b0
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
catboost==0.26
category-encoders==2.2.2
certifi==2021.10.8
click==8.0.3
cliff==3.8.0
clyent==1.2.2
cmaes==0.8.2
cmd2==2.1.1
colorlog==5.0.1
colour==0.1.5
comtypes==1.1.10
conda==4.12.0
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
dtreeviz==1.3
entrypoints==0.3
et-xmlfile==1.1.0
fastcache==1.1.0
flasgger==0.9.5
fonttools==4.25.0
gunicorn==20.1.0
h5py==2.10.0
joblib==1.0.1
jupyter==1.0.0
lightgbm==3.2.1
llvmlite==0.37.0
locket==0.2.1
Mako==1.1.4
Markdown==3.3.4
matplotlib==3.4.2
mccabe==0.6.1
mkl-fft==1.3.1
mkl-service==2.4.0
mljar-supervised==0.10.6
mpmath==1.2.1
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
nltk==3.6.5
olefile==0.46
optuna==2.8.0
packaging==20.9
pathspec==0.7.0
patsy==0.5.2
pbr==5.6.0
pep8==1.7.1
Pillow==8.4.0
pkginfo==1.7.1
ply==3.11
prettytable==2.1.0
pycosat==0.6.3
pycrypto==2.6.1
pycurl==7.44.1
pyls-spyder==0.4.0
pyperclip==1.8.2
pyreadline==2.1
pytest==6.2.4
python-editor==1.0.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
pywin32==227
pywinpty==0.5.7
PyYAML==6.0
scikit-image==0.18.3
scikit-learn==0.24.2
scikit-learn-intelex==2021.20210714.120613
scikit-plot==0.3.7
seaborn==0.11.1
shap==0.39.0
simplegeneric==0.8.1
slicer==0.0.7
Sphinx==4.2.0
statsmodels==0.12.2
stevedore==3.3.0
tables==3.6.1
TBB==0.2
terminado==0.9.4
threadpoolctl==2.1.0
typing-extensions==3.10.0.0
unicodecsv==0.14.1
urllib3==1.26.7
webencodings==0.5.1
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1
xgboost==1.4.2
xlwings==0.24.9
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0